* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(105, 156, 71);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    box-shadow: 0px 0px 10px 6px rgb(218, 217, 217);
}

header a {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

header a:hover {
    transform: scale(1.08);
    color: rgb(201, 201, 201);
}