* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body.claro {
    background-color: white;
    color: black;
}

body.escuro {
    background-color: black;
    color: white;
}

body {
    transition: 
    background-color 0.3s,
    color 0.3s;
}

header {
    background-color: rgb(105, 156, 71);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    box-shadow: 0px 0px 10px 6px rgb(179, 255, 135);
}

.header-menu {
    display: flex;
    gap: 10rem;
}

header a {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

header a:hover {
    transform: scale(1.08);
    color: rgb(231, 231, 231);
}

footer {
    margin-top: 16%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer a {
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

body.claro footer a {
    color: black;
}

body.escuro footer a {
    color: white;
}

footer a:hover {
    transform: scale(1.08);
}